<form class="login-form" action="/login" method="post">
  <div class="col s4">
    <div class="form-group col s4">
      <input type="email" name="email" class=" email" placeholder="email">
      <div class="login-email-err"></div>
    </div>
    <div class="form-group col s4">
      <input type="password" name="password" class=" password" placeholder="password">
      <div class="login-password-err"></div>
    </div>
    <div class="text-center col s4">
      <button type="submit" class="btn ">Login</button>
    </div>
  </div>
</form>
