<section class="login">
  <div class="container">
    <div class="login-box">
      <form class="login-form" action="/login" method="post">
        <div class="col s4">
          <div class="form-group col s4">
            <input type="email" name="email" class="login-input_color email" placeholder="email">
            <div class="login-email-err"></div>
          </div>
          <div class="form-group col s4">
            <input type="password" name="password" class="login-input_color password" placeholder="password">
            <div class="login-password-err"></div>
          </div>
          <div class="login-btn text-center col s4">
            <button class="btn login-btn_touch" type="submit" >Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
