<section class="registration">
  <div class="container">

    <div class="registr-box">



      <form class="registr-block  row" action="/registration" method="POST">
        {{!-- <div class="col s4"> --}}
          <input class="registr-input_name" type="text" placeholder="name" name="name">
          <input type="email" placeholder="email" name="email">
          <input type="password" placeholder="password" name="password">

          <div class="regist-btn text-center ">
            <button class="registration-Btn btn registr-btn_touch" type="submit">Регистрация</button>
          </div>
          {{!--
        </div> --}}


      </form>

    </div>
  </div>
</section>
