<section class="geniration">
{{!-- Выбор цвета и узора: --}}
<form action="/newsock" id='selectcolors' method="POST">

<select name="tagselect" id="tagselect">
  <option value="dotted"> - - -  - - -  - - - - </option>
  <option value="dashed">---   ---   ---   ---    ---</option>
  <option value="solid">------------------</option>
  <option value="double">==========</option>
  </select>

<select name="colorselect" id="colorselect">
  <option value="red">red</option>
  <option value="blue">blue</option>
  <option value="white">white</option>
  <option value="black">black</option>
  <option value="green">green</option>
</select>
<button type="submit">В избранное</button>
</form>
</section>
