adsadsad
<form action="/newsock" id='selectcolors' method="POST">
<select name="colorselect" id="colorselect">
  <option value="red">sadsad</option>
  <option value="reвыфвыd">adsdsada</option>
  <option value="reыфвфывфd">asdsaыфвфвфdas</option>
</select>
<select name="colorselect" id="colorselect">
  <option value="red">sadsad</option>
  <option value="reвыфвыd">adsdsada</option>
  <option value="reыфвфывфd">asdsaыфвфвфdas</option>
</select>
<button>В избранное</button>
<button>В корзину</button>
</form>


