<section class="home">
  <div class="container ">


    <div class="home-video">
      <iframe width="80%" height="550px" src="https://www.youtube.com/embed/gL5dDiEMayE" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="home-name">
      <a href="/genirator">
        <button class="home-name_btn btn waves-effect waves-light" type="submit" name="action"> Generation Socks
        </button>
      </a>
    </div>
  </div>
</section>
