<section class="mySocks">
  <div>{{title}}</div>

<div>
    {{#each socksList}}
    <div class="favorites">
      {{this.color}} {{this.pattern}} {{this.img}}
      <div class="ya-share2" data-curtain data-size="s" data-shape="round" data-services="vkontakte,telegram,whatsapp">
      </div>
    </div>
    {{/each}}
</div>
</section>
