.favoriteButton {
  width: 150px;
  height: 30px;
}

.geniration{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
  flex-direction: row;

}

.geniration form {
  /* background-color: blueviolet; */
  width: 400px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 25px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorOpt {
font-size: 20pt;
padding: 10px;
text-align: center;
justify-content: center;
display: flex;
}

.patternOpt {
  font-size: 20pt;
}

.favoriteButton {
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  border: 0px;
  background-color: #ee6e73;
  border-radius: 10px;
  color: white;
}
.favoriteButton:last-child{
  margin-bottom: 0;
}
.classblock {
  width: 50px;
  height: 50px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.imgblock {
  width: 50px;
  height: 50px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.colorsblock {
  width: 60px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#selectcolors select {
  height: 60px;
  margin-bottom: 10px;
  border-radius: 15px;
  outline-style: none;
}

.bigimg {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-left: 15px;
}
