
select {
  display: flex;
  width: 300px;
  border: 1px solid solid;
}
footer{
  position: sticky;
  width: 100%;
  bottom: 0;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
body, html{
  min-height: 100vh;
}
.home{
  background: url('./img/socksHome1.jpg') no-repeat center center fixed;
  background-size: cover;
}
.home, .home-video{
  height: 100%;
}
.home-video{
  display: flex;
  justify-content: center;
  padding-top: 300px;
}

.home-text_name{
  font-family: 'New Tegomin', serif;
  font-size: 35px;
  font-weight: 600;
  padding-right: 150px;
}
.nav-box{
  display: flex;
}
.home-name{
  display: flex;
  padding-top: 65px;
  justify-content: center;
}
.home-name_btn{
  background-color: #2628a6;
}
.home-name_btn:hover{
  background-color: #9899eb;
}

.geniration, .mySocks, .basket, .login, .registration{
  min-height: 100vh;
}

